html, body {
    height: 100%;
    padding: 0;
    margin: 0;  
}
  
.wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, rgba(224,243,250,1) 0%,rgba(171,218,252,1) 100%);
}
  
form {
    align-items: center;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}

form * {
    margin: 0 5px;
}

.main {
    align-items: flex-start;
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around; 
}
  
span {
    font: 16px cursive;
    color: #8B4513;
}
  
#map {
    width: 63%;
    height: 90%;  
    border: 2px solid #CD853F;
    border-radius: 5px;
    margin-top: 10px;
}

.my-weather {
    width: 33%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-weather-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.search-history-table {
    border-collapse: collapse;
    display: none;
    color: #CD853F;
    text-align: center;
}

.search-history-table.active {
    display: block;
}

.search-history-table th {
    background: #F5DEB3;
    border: 2px solid #8B4513;
    padding: 5px;
}

.search-history-table td {
    background: #ffffff;
    border: 2px solid #8B4513;
    padding: 5px;
}

.btn {
    background: #CD853F;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    color: #F5DEB3;
    outline: none;
    cursor: pointer;
    margin: 8px;
}

.search-history.active {
    opacity: .7;
}

.btn:hover {
   opacity: .7;
}

.field.red {
    border: 1px solid #FF0000;
}

.error-message {
    color: red;
    height: 20px;
}
